<nav class="nav-bar">
    <a href="http://localhost:3000/" class="home"><i class="fa-solid fa-house"></i></a>
    <div>
        <a href="http://localhost:3000/about" class="links"> About </a>
        <a href="http://localhost:3000/work" class="links"> Work </a>
    </div>  
</nav>