<main id="main">
  <h1 id="title">Marsha P. Johnson</h1>
  <p>One of the world’s most famous LGBTQ+ activists</p>
  <div id="img-div">
    <img src="/images/MarshP1.png" alt="Marsha in  East River State Park" id="image"/>
    <figcaption id="img-caption">(August 24, 1945 – July 6, 1992) was an American gay liberation activist and self-identified drag queen. Marsha was one of the prominent figures in the Stonewall uprising of 1969.</figcaption>
  </div>
<main>
