<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main id="main">
        <h1 id="title">WORK</h1>
        <p>One of the world’s most famous LGBTQ+ activists</p>
        <div id="img-div">
          <img src="/images/MarshP3.png" alt="Marsha in  East River State Park" id="image"/>
        </div>
        <div id="tribute-info">
          <p><strong>1969</strong> - Johnson was one of the first drag queens to go to the Stonewall Inn, after they began allowing women and drag queens inside; it was previously a bar for only gay men. On the early morning hours of June 28, 1969, the Stonewall uprising occurred.</p>
          <p><strong>1972</strong> - In an interview with Allen Young, in 1972's, Out of the Closets: Voices of Gay Liberation, Johnson discussed being a "Street Transvestite Action Revolutionary", saying, "A transvestite is still like a boy, very manly looking, a feminine boy."</p>
          <p><strong>1972</strong> - Johnson sang and performed as a member of J. Camicias' international, NYC-based, drag performance troupe, Hot Peaches, from 1972 through to shows in the 1990s.</p>
          <p><strong>1980</strong> - After visiting David and other friends with the virus in the hospital during the AIDS pandemic, Johnson, who was also HIV-positive, became committed to sitting with the sick and dying, as well as doing street activism with AIDS activist groups including ACT UP</p>
        </div>
        <div id="tribute-info" class="links-container">
            <a href="http://localhost:3000/" class="links"><strong> Home </strong></a>
            <a href="http://localhost:3000/about" class="links"><strong> About </strong></a>
        </div>
        <br>
        <div >To know more details of her life follow: <a id="tribute-link" target="_blank" href="https://en.wikipedia.org/wiki/Marsha_P._Johnson">Wikipidea</a></div>
      <main>
</body>
</html>