* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: open-sans, sans-serif;
    background-color: white;
    margin: 0;
  }
  
  main {
    padding: 60px 30px;
    margin: 10px;
    background-color: #f9f6f0;
    margin: 0;
  }

  .home {
    color: white;
    padding: .6rem;
    margin: .8rem;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .home i {
    color: white;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
  }

  main > p:nth-child(2) {
   text-align: center;
   padding: 15px 0;
  }
  
  #title {
    text-align: center;
    font-size: 3rem;
    padding-top: 2.5rem;
  }
  #img-div {
    padding: 40px 20px;
    margin: 10px auto;
    background-color: white;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  img {
    display: block;
  }

  #image {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 5px 0;
  }
  
  #img-caption {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 5px;
    font-weight: 300;
    width: 75%;
  }
  
  #tribute-info {
    margin: auto;
    padding: 15px 30px;
    max-width: 60vw;
  }
  
  #tribute-info > p {
    padding: 15px 0;
    letter-spacing: 0.4px;
    font-weight: 300;
  }
  
  #tribute-link {
    font-weight: 700;
    padding-top: 40px;
  }
  
  #tribute-link a {
    text-decoration: none;
  }
  
  a:visited {
    color: #292929
  }

  #tribute-info.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .links {
    background-color: white;
    width: max-content;
    height: auto;
    text-align: center;
    font-size: 1rem;
    padding: .5rem .8rem;
    margin: 1rem;
    box-shadow: inset 1px 1px 5px rgb(144, 142, 142), inset -1px -1px 5px rgb(144, 142, 142);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
  }